<%- include('./partials/header') %>


    <section class="page">
        <div class="pfeedback">
            <div class="myprofile">
                <div class="dp">
                    <img class="logoprofile" src="/img/dp.png">
                </div>
                <a href="/myprofile" class="button ">My Profile </a>
            </div>
            <br>
            <div class="myprofile">
                <a href="/createevent" class="button ">Create event </a>
            </div>
            <br>
            <div class="myprofile">
                <a href="/createinterest" class="button ">Create interest </a>
            </div>
            
        </div>
        <div class="feedbacks">

            <% allsuggestion.forEach((interest) =>{ %>
                <div>
                    <p> <span class="green"><%=interest.whoSuggested%></span> suggested :</p>
                    <p> <%= interest.title %> </p><br>
                    <p> <%= interest.body %> </p><br>
                    <% if(interest.whoLiked.includes(user_emailid)){    %>
                        <form action="/liked/<%=interest._id%>?_method=PUT" method="POST"><button class="button" id="liked_btn">Liked: <%=interest.likes%></button></form>
                    <% } else{  %>
                        <form action="/liked/<%=interest._id%>?_method=PUT" method="POST"><button class="button" id="like_btn">Like: <%=interest.likes%></button></form>
                    <% } %> 
                </div>
            <%})%>
        </div>

    </section>
</body>

</html>