<%- include('./partials/header') %>

    <h1 class="ongoing ">Delete events</h1>
    <br>
    <section class="events fix3">
        <% allevents.forEach((event)=> { %>
            <div class="box ">
            <form action="/deleteevent/<%=event._id%>?_method=DELETE" method="POST">
                <h1 class="event ">
                    <span class="label">Event Name: <span class="Editable_info"><%= event.name%></span></span>
                </h1>
                <p class="event ">
                    <span class="label">Starting Time: <span class="Editable_info"><%= event.startAt%></span></span><br>
                    <span class="label">Ending Time: <span class="Editable_info"><%= event.endAt%></span></span>
                </p>
                <p class="event ">
                    <span class="label">Location: <span class="Editable_info"><%= event.location%></span></span>
                </p>
                <p class="participants">
                    Participants : <%= event.members.length %>
                </p>
                <br>
                <div class="submit_button_div">
                    <button type="submit" class="submit">Delete</button>
                </div>
            </form>
            </div>
            <% }) %>
    </section>
    <footer>

    </footer>
</body>

</html>