<%- include('./partials/header') %>

    <h1 class="ongoing ">Edit Profile</h1>
    <br>
    <form action="/editprofile/?_method=PUT" method="POST">
        <section class="Profile">
            <div class="box">
                <div class="name">
                    <span class="label">Name: <span class="Editable_info"><input type="text" class="name_box" name="Name" value="<%=userdata.Name%>"></span>
                        <br>
                </div>
                <div class="roll">
                    <span class="label">Roll Number: <span class="Editable_info"><input type="number"
                                class="name_box" name="roll" value="<%=userdata.roll%>"></span>
                        <br>
                </div>
                <div class="mail">
                    <span class="label">Email ID: <span class="Editable_info"> <%= userdata.email%> </span> </span>
                    <br>
                </div>
                <div class="username">
                    <span class="label">Username: <span class="Editable_info"><%= userdata.name%> </span>  </span>
                </div>
            </div>
            <!-- <div class="Profile_pic">
                <input type="file">
            </div> -->
            <!-- <label class="file">
                <input type="file" id="file" aria-label="File browser example">
                <span class="file-custom"></span>
            </label> -->
            <div class="file-input">
                <input type="file" id="file" class="file">
                <label for="file">Change profile pic</label>
            </div>
            <div class="box ">
                <div class="interested">
                    <span class="interested_in">Edit your interests</span>
                </div><br>
                <div class="name">
                    <span class="label">Interest 1: <span class="Editable_info"> <input type="text" class="name_box" value="<%=userdata.interest1%>" name="interest1"></span>
                        <br>
                </div>
                <div class="roll">
                    <span class="label">Interest 2: <span class="Editable_info"><input type="text" class="name_box" name="interest2" value="<%=userdata.interest2%>"></span>
                        <br>
                </div>
                <div class="mail">
                    <span class="label">Interest 3: <span class="Editable_info"></span><input type="text" class="name_box" name="interest3" value="<%=userdata.interest3%>"></span>
                    <br>
                </div>
                <div class="username">
                    <span class="label">Interest 4: <span class="Editable_info"></span><input type="text" class="name_box" name="interest4" value="<%=userdata.interest4%>"></span>
                </div>
                <div class="username">
                    <span class="label">Interest 5: <span class="Editable_info"><input type="text" class="name_box" name="interest5" value="<%=userdata.interest5%>"></span>
                </div>
            </div>
        </section>
        <div class="submit_button_div">
            <button type="submit" class="submit">Submit</button>
        </div>
    </form>
</body>

</html>