<%- include('./partials/header') %>

    <h1 class="ongoing ">Ongoing events</h1>
    <br>
    <section class="events">
        <% allevents.forEach((event)=> { %>
            <div class="box">
                <h1 class="event">
                    <%= event.name %>
                </h1>
                <p class="time">
                    <%= event.startAt %> - <%= event.endAt %>
                </p>
                <p class="time">
                    <%= event.location %>
                </p>
                <p class="participants">
                    Participants : <%= event.members.length %>
                </p>
                <br>
                <% if(event.members.includes(user_emailid)){ %>
                    <form class="join joinedbtn" action="/joinevent/<%=event._id%>?_method=PUT" method="POST">
                        <button class="join-btn joinedbtn" type="submit">Joined</button>
                    </form>
                <% } else{ %>
                    <form class="join joinbtn" action="/joinevent/<%=event._id%>?_method=PUT" method="POST">
                        <button class="join-btn joinbtn" type="submit">Join</button>
                    </form>
                <% } %>
                <br>
                <div style="text-align: center;">
                    <a href="/viewevent/<%=event._id%>">View more</a>
                </div>

            </div>
            <% }) %>
    </section>
    <footer>

    </footer>
</body>

</html>