<%- include('./partials/header') %>

        <h1 class="ongoing ">Your Profile</h1>
        <div class="editcls">    
            <button type="button" class="edit_button"><a href='/editprofile'>Edit</a></button>
        </div>
        <br>
        <br>
        <section class="Profile">
            <div class="Profile_pic">
                <%if(userdata.DP){%>
                    <img src=<%= userdata.DP %> alt="" class="profile_dp">
                <%}else{%>
                    <img src="img/dp.png" alt="" class="profile_dp">
                <%}%>
            </div>
            <div class="altbox">
                <div class="box profile_box">
                    <div class="name">
                        <span class="label">Name</br> <span class="Editable_info"><%= userdata.Name %></span></span>
                        <br>
                    </div>
                    <div class="roll">
                        <span class="label">Roll no.</br><span class="Editable_info"><%= userdata.roll %></span></span>
                        <br>
                    </div>
                    <div class="mail">
                        <span class="label">Email Id</br><span class="Editable_info"><%= userdata.email%></span></span>
                        <br>
                    </div>
                    <div class="username">
                        <span class="label">Username</br><span class="Editable_info"><%= userdata.name%></span></span>
                    </div>
                </div>
                <div class="box profile_box">
                    <div class="name">
                        <span class="label">Interested in</br><span class="Editable_info"></span></span>
                    </div>
                    <ul class="interests">
                        <li class="Editable_info"><%=userdata.interest1%></li>
                        <li class="Editable_info"><%=userdata.interest2%></li>
                        <li class="Editable_info"><%=userdata.interest3%></li>
                        <li class="Editable_info"><%=userdata.interest4%></li>
                        <li class="Editable_info"><%=userdata.interest5%></li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>