<%- include('./partials/header') %>

<h1 class="ongoing ">Search your events</h1>
<br>
    <section class="events">
        <form action="/find-event" method="GET" onsubmit="return validateSearch()">
            <input type="text" name="search" id="search">
        </form>
    </section>

    <section class="events">
        <% allevents.forEach((event) => { %>
            <div class="box">
                <h1 class="event">
                    <%= event.name %>
                </h1>
                <p class="time">
                    <%= event.startAt %> - <%= event.endAt %>
                </p>
                <p class="time">
                    <%= event.location %>
                </p>
                <p class = "participants">
                Participants : <%= event.members.length %>
                </p>
                <br>
                <% if(event.members.includes(user_emailid)){ %>
                    <form class="join" action="/joinevent/<%=event._id%>?_method=PUT" method="POST"><button class="join-btn" type="submit">Joined</button></form>
                <% } else{ %>
                    <form class="join" action="/joinevent/<%=event._id%>?_method=PUT" method="POST"><button class="join-btn" type="submit">Join</button></form>
                <% } %>
            </div>
        <% }) %>
    </section>

    <footer>

    </footer>

    <script>
        function validateSearch() {
            let searchInput = document.getElementById("search").value;
            let searchValidInput = searchInput.trim();
            if(searchValidInput) {
                return true;
            }
            alert("Search Box is empty");
            return false;
        }
    </script>

</body>
</html>