<%- include('./partials/header') %>
    <h1 class="ongoing "><%=event.name%></h1>
    <br>

    <div class="my-event">
        <div class="main-event">
            <div class="event-img">
                <%if(event.img) {%>
                    <img src=<%= event.img %> class="event-img-src" alt="random img">
                <% } else {  %>
                    <img src="https://source.unsplash.com/random/?city,night" class="event-img-src" alt="random img"/>
                <% } %>
            </div>
            <div class="each-in-event">
                <span class=""> <%=event.detail%> </span>
            </div>
            <div class="event-info">
                
                <div class="info">
                    <div class="each-in-event">
                        Event Name: <span class="in-event"><%= event.name %></span>
                    </div>
                    <div class="each-in-event">
                        Event Starts at <span class="in-event"><%= event.startAt %></span>
                    </div>
                    <div class="each-in-event">
                        Event Ends at <span class="in-event"><%= event.endAt %></span>
                    </div>
                    <div class="each-in-event">
                        Event Location: <span class="in-event"><%= event.location %></span>
                    </div>
                </div>

                <div class="info">
                    <div class="participants fix6">
                        <h3 class="in-event"> Participants for <%=event.name%>  </h3>
                        <div class="list-box">
                            <%participants.forEach((name)=>{ %>
                                <div class="each-in-event">
                                    <span class="green"><%=name%></span>
                                </div>
                            <%})%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fix7">
                <% if(isJoin==1){ %>
                    <form class="join joinedbtn" action="/joinevent/<%=event._id%>?_method=PUT" method="POST">
                        <button class="join-btn joinedbtn" type="submit">Joined</button>
                    </form>
                <% } else{ %>
                    <form class="join joinbtn" action="/joinevent/<%=event._id%>?_method=PUT" method="POST">
                        <button class="join-btn joinbtn" type="submit">Join</button>
                    </form>
                <% } %>
            </div>

        </div>
        
    </div>

</body>

</html>